[bumpr]
file = frontmark/__about__.py
vcs = git
commit = true
tag = true
push = true
tests = tox
publish =
    python setup.py bdist_wheel upload
clean =
    rm -fr build dist
files =
    README.md

[bump]
unsuffix = true

[prepare]
part = patch
suffix = dev

[changelog]
file = CHANGELOG.md
bump = ## {version} ({date:%Y-%m-%d})
prepare = ## In development
separator =

[replace]
dev = ?branch=master
stable = ?tag={version}
